body{
    grid-template-rows:auto auto auto ; /* experimental lol*/
    margin: 0;
}


header {
    
    display: flex;
    justify-content: space-between;

    background-image: url("../Pictures/headerBackground.jpg");
}

.loginPic {
    width: 260px;
    height: 80px;

}

.login {

    display: block;
    align-content: center;
}

.login p {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color:purple;
}

.logo {
    border-radius: 5px 20px;
    width: 150px;
    height: 150px;
    margin: 10px 0px 10px 10px;
}

.searchBar {
    width: 60%;
    height: 60px;
    border-radius: 25px;

    border: none;
    font-size: 17px;
}

.searchBarDiv {
    display: flex;
    align-self: center;
    justify-content: center;
    margin: auto;
    width: 100%;
}

.searchButton {
    height: 40px;
    width: 80px;

    text-align: center;
    align-self: center;

    border-radius: 7px;
    background-color: rgb(55, 255, 162);
    border: none;

    margin-left:20px ;
    
}
/* End of header CSS =-=-=-=-=-=-=-=-=- and start of main */
main{
    background-image: url("../Pictures/mainBackground.jpg");
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;

    justify-content: center;
    align-items: center;
    display: flex;

    background-position: bottom;
    
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.outerMainDiv{
    width: 100%;
    
    justify-content: center;
    align-content: center;
    display: flex;

}
.topHits{
    height: 10px;
    margin-top: -50px;
    margin-right: -140px;
    font-size: 40px;
    color: mediumvioletred;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.borderDiv{
    border: 2px solid black;
    border-radius: 10px 30px;

    height: 500px;
    width: 50%;

    background-color: rgb(240, 237, 237);
    margin: 0;
    justify-self: center;
    
}
.song{
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    display: flex;
}
.song p{
    font-size: 20px;
    margin-left: 10px;
}
.singer{
    height: 100px;
    width: 100px;
}
/* End of main CSS =-=-=-=-=-=-=-=-=-=-=-=-=-= start of footer */

footer{
    display: flex;
    
    justify-content: space-between;
    align-content: center;
    
    background-image: url("../Pictures/footerBackground.jpg");

    
}
.twitterLogo{
    max-width: 100px;
    height: 100px;
    
}
footer div{
    align-self: center;
    justify-self: center;
    width: 100%;
}
footer p{
    color: rgb(180, 186, 192);

    font-size: 25px;
    text-align: center;
    text-justify: center;
}