header {
    float: bottom;
    padding: 10px;
    background-color: aqua;
    display: block;
    

}
.logo {
    float: left;
}
.searchBar{
    float: center;
    width: 40%;
    height: 40px;
    margin: auto;
    
}
.searchBarDiv{
    float: center;
    margin: auto;
}
.loginPic{
    width: 260px;
    height: 80px;
}
.login{
    float: right;
    display: block;
}
.login p{
    text-align:  center;
}
.logo{
    width: 100px;
    height: 100px;
}