header {
    display: flex;
    background-color: aqua;
    justify-content: space-between;

}
.searchBar{

    width: 60%;
    height: 60px;
    display: block;
    margin: auto;
}
.searchBarDiv{
    align-self: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto ;
}
.loginPic{
    width: 260px;
    height: 80px;
}
.login{

    right: 10px;
}
.login p{
    text-align:  center;
}
.logo{
    width: 150px;
    height: 150px;
}